<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Data Peserta</title>

    <!-- Link Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Akhir Link Bootstrap Icon -->
    
    <!-- Link Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Akhir Link Bootstrap CSS -->
</head>
<body>
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark fixed-top" style="width: 280px; height: 100vh;" id="sidebar">
        <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none hover-item">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="LKMMTD" width="50vw" class="img-fluid bg-light rounded-circle">
            <span class="fs-4 hamburger-item ps-2">LKMMTD</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/home" class="nav-link hovering text-white hover-item">
                    <i class="bi bi-house-door-fill"></i>
                    <span class="hamburger-item ps-2">Home</span>
                </a>
            </li>
            <li>
                <a href="/data_peserta" class="nav-link active hover-item" aria-current="page">
                    <i class="bi bi-clipboard-data-fill"></i>
                    <span class="hamburger-item ps-2">Data Peserta</span>
                </a>
            </li>
            <li>
                <a href="/tambah_user" class="nav-link hovering text-white hover-item">
                    <i class="bi bi-person-plus-fill"></i>
                    <span class="hamburger-item ps-2">Tambah User</span>
                </a>
            </li>
            <li>
                <a href="/logout" class="nav-link hovering text-white hover-item">
                    <i class="bi bi-box-arrow-right"></i>
                    <span class="hamburger-item ps-2">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Akhir Sidebar -->
    
    <!-- Navbar -->
    <nav class="navbar bg-body-tertiary py-3 shadow" style="padding-left: 280px;" id="navbar">
        <div class="container-fluid">
            <button type="button" class="btn" id="hamburger-btn"><i class="bi bi-list fs-4"></i></button>
        </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Section -->
    <section class="bg-light bg-gradient py-5" style="padding-left: 280px; height: 80vh;" id="section">
        <div class="container bg-light bg-gradient shadow rounded p-md-5">
            <!-- Title Data Peserta -->
            <div class="row text-center">
                <div class="col p-3">
                    <h1>Data Peserta Hadir</h1>
                </div>
            </div>
            <!-- Akhir Title Data Peserta -->

            <!-- Title Data Peserta -->
            <div class="row">
                <div class="col px-3">
                    <h5>Panitia Pelaksana LKMM-TD FMIPA 2023</h5>
                </div>
            </div>
            <!-- Akhir Title Data Peserta -->

            <!-- Text Berikut Data Peserta -->
            <div class="row">
                <div class="col px-3">
                    <p>Berikut merupakan data yang hadir pada hari ini.</p>
                </div>
            </div>
            <!-- Akhir Text Berikut Data Peserta -->

            <div class="row">
                <!-- Fitur Tanggal -->
                <div class="col px-3 login-data">
                    <form onsubmit="event.preventDefault(); submitDate();" class="row g-3 date-form">
                        <div class="col-auto">
                            <label for="date" class="form-label py-2">Select Date:</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- Akhir Fitur Tanggal -->

                <!-- Button Download -->
                <div class="col text-end">
                    <a class="btn btn-primary" href="/download" role="button">Download Rekapan Data</a>
                </div>
                <!-- Akhir Button Download -->
            </div>
            <!-- Akhir Fitur Tanggal -->

            <!-- Table Data Peserta -->
            <div class="row">
                <div class="col px-3">
                    <table class="table">
                        <thead class="table-secondary">
                            <tr>
                                <th>Username</th>
                                <th>Login Time</th>
                                <th>Verified</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <!-- Data Peserta -->
                        <tbody>
                            {% for data in login_data %}
                            <tr>
                                <td>{{ data[0] }}</td>
                                <td>{{ data[1] }}</td>
                                <td>{{ data[2] }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm verify-button" data-username="{{ data[0] }}" data-timestamp="{{ data[1] }}" data-verified="{{ data[2] }}">Verify</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- Akhir Data Peserta -->
                    </table>
                </div>
            </div>
            <!-- Akhir Table Data Peserta -->
        </div>
    </section>
    <!-- Akhir Section -->

    <!-- Footer -->
    <footer class="bg-secondary text-center text-light py-4" style="padding-left: 280px;" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p>Copyright &copy; BEM FMIPA UNUD 2023. All rights reserved. Created with <span><i class="bi bi-heart-fill text-danger"></i></span> by: <span><a href="" class="fw-bold text-light text-decoration-none">Ananda Putra</a></span> and <span><a href="" class="fw-bold text-light text-decoration-none">I Made Surya Adi Palguna</a></span>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Akhir Footer -->

    <!-- Link Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- Akhir Link Bootstrap JS -->

    <!-- Link JQuery JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- Akhir Link JQuery JS -->

    <!-- Link Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Akhir Link Moment JS -->

    <!-- Kode JS -->
    <script>
        $(document).ready(function() {
            $("#hamburger-btn").click(function() {
                if ($("#navbar").css("padding-left") === "280px") {
                    $(".hamburger-item").hide();

                    $("#sidebar").css("width", "4.5rem");
                    $("#navbar, #section, #footer").css("padding-left", "4.5rem");
                }
                else {
                    $(".hamburger-item").show();

                    $("#sidebar").css("width", "280px");
                    $("#navbar, #section, #footer").css("padding-left", "280px");
                }
            });

            $(".hover-item").hover(
                function() {
                    $(this).stop().animate({}, 300, function() {
                        $(".hamburger-item").show();
                        $("#sidebar").css("width", "280px");
                    });
                },
                function() {
                    if ($("#navbar").css("padding-left") == (4.5 * parseFloat($("html").css("font-size"))) + "px") {
                        $(this).stop().animate({}, 300, function() {
                            $(".hamburger-item").hide();
                            $("#sidebar").css("width", "4.5rem");
                        });
                    }
                }
            );

            $(".hovering").hover(
                function() {
                    $(this).stop().animate({}, 300, function() {
                        $(this).addClass("bg-secondary");
                    });
                },
                function() {
                    $(this).stop().animate({}, 300, function() {
                        $(this).removeClass("bg-secondary");
                    });
                }
            );
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".verify-button").click(function() {
                let button = $(this);
                let username = button.data("username");
                let timestamp = button.data("timestamp");
                let verified = button.data("verified") === "1" ? "0" : "1";

                $.ajax({
                    type: "POST",
                    url: "/verify",
                    data: {
                        "username": username,
                        "timestamp": timestamp,
                        "verified": verified
                    },
                    success: function(response) {
                        // Update the verified status in the table
                        button.data("verified", verified);
                        button.closest("tr").find("td:nth-child(3)").text(verified === "1" ? "Yes" : "No");
                        alert(response.message);
                    },
                    error: function(xhr, status, error) {
                        alert(xhr.responseJSON.error);
                    }
                });
            });
        });
    </script>
    <script>
        function submitDate() {
            let date = $("#date").val();

            $.ajax({
                type: "POST",
                url: "/request_date",
                data: {
                    "date": moment(date).format('ddd, DD MMM YYYY HH:mm:ss [GMT]')
                },
                success: function(response) {
                    // Update the verified status in the table
                    // button.data("verified", verified);
                    // button.closest("tr").find("td:nth-child(3)").text(verified === "1" ? "Yes" : "No");
                    alert(response.message);
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseJSON.error);
                }
            })
        }
    </script>
    <!-- Akhir Kode JS -->
</body>
</html>